.comment-list
  - commentable.each do |comment|
    .detail_user
      .user_image
        = get_avatar(comment.created_by)
      .user_name
        %div #{ comment.created_by.name }
        %span
          %small #{ time_ago_in_words comment.created_at }
    .detail_comments
      %p #{ comment.commenter }
