.profile_wrapper
  .user_detail
    .user_image
      = get_avatar(profile)
    .detail_name
      %div.has-text-grey
        #{ profile.name }
      .detail_username
        = link_to '#' do
          #{ profile.username }
    .detail_user_follow
      %i.fas.fa-check
