.post_sidebar
  = render 'users/user_profile'

.post_tags
  .tags_title
    %i.fas.fa-tags
    Tags
  .tag_cloud
    - tag_cloud Post.tag_counts, %i[ s m l ] do |tag, css_class|
      %span
        = link_to tag.name, tag_path(tag.name), class: css_class
