%h1.title Home#index
%p Find me in app/views/home/index.html.haml

%h2.subtitle.is-2
%br
= link_to 'sing up', new_user_registration_path, class: 'button is-info'
= link_to 'sing in', new_user_session_path, class: 'button is-success'
= link_to 'edit profile', edit_user_registration_path, class: 'button is-warning'
= link_to 'logout', destroy_user_session_path, method: :delete, class: 'button is-danger'
