%br
%br
.columns.is-centered
  .column.is-4
    .card
      .card-header
        .card-header-title.has-background-warning
          %span.subtitle
            %i.fa.fa-users
            Log in
      .card-content
        .content

          = render 'form_session'

          = render "devise/shared/links"
