@import "trix/dist/trix";

.trix-button-group.trix-button-group--block-tools,
.trix-button-group.trix-button-group--file-tools,
.trix-button-group.trix-button-group--history-tools {
  display: none;
}

trix-editor {
  &.form-control {
    min-height: 20rem;
    height: auto;
  }
}
html, body {
  background-color: #fafafa;
}

.main_wrapper {
  margin-top: 2px;
  display: flex;

  main {
    flex: 1;
    background-color: #fff;
    min-height: 800px;
    padding: 1rem;
  }

  aside {
    width: 220px;
    margin-left: 2px;
  }
}

.avatar {
  color: $color-info;
  font-size: .9rem;
}
