.devise__wrapper
  .devise_container
    .devise_anuncio
      = image_tag(url_for('https://picsum.photos/800/800/?blur=2'), class: 'devise-back')
    .devise_form
      %p
        Hello #{@resource.email}!
      %p We're contacting you to notify you that your password has been changed.
